## Library Dependencies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

sns.set()

In [2]:
crime_type = input('Enter Crime Type: ')

Enter Crime Type: Homicide

In [3]:
if not os.path.exists('../../Graphs/With_Census/Sub_Crime/%s'%crime_type):
    os.makedirs('../../Graphs/With_Census/Sub_Crime/%s'%crime_type)

## Importing Baltimore calls for service dataset

In [4]:
data = pd.read_csv('../../Clean Dataset/Sub Crimes By Neighborhood/Preprocessed_data/Preprocessed_%s_data.csv'%crime_type)
data.head()

   Year PoliceDistrict  Week_Number Year_Week_Number  NoOfCrimes
0  2014      SOUTHEAST            1           2014_1           0
1  2014      SOUTHEAST            2           2014_2           0
2  2014      SOUTHEAST            3           2014_3           0
3  2014      SOUTHEAST            4           2014_4           0
4  2014      SOUTHEAST            5           2014_5           2

In [5]:
data.describe()

              Year  Week_Number   NoOfCrimes
count  3024.000000  3024.000000  3024.000000
mean   2016.735119    25.586310     0.635251
std       1.870681    15.096201     0.855154
min    2014.000000     1.000000     0.000000
25%    2015.000000    12.750000     0.000000
50%    2017.000000    25.000000     0.000000
75%    2018.000000    39.000000     1.000000
max    2020.000000    53.000000     5.000000

In [6]:
PoliceDistrict = data['PoliceDistrict'].unique()
ts_data_week = {}
for district in PoliceDistrict:
    ts_data_week[district] = data[data['PoliceDistrict'] == district]

## Importing Population Dataset

In [7]:
population_data = pd.read_csv('../../Clean Dataset/Population_By_PoliceDistrict.csv')
population_data

  Police District  Population
0         CENTRAL       34300
1        NORTHERN       95194
2       NORTHWEST       78736
3         WESTERN       39691
4         EASTERN       42653
5       NORTHEAST      155040
6       SOUTHEAST       69535
7        SOUTHERN       60141
8       SOUTHWEST       68743

# Make Forecasting Frame

In [8]:
ts_data_week['NORTHEAST'].head()

      Year PoliceDistrict  Week_Number Year_Week_Number  NoOfCrimes
2016  2014      NORTHEAST            1           2014_1           1
2017  2014      NORTHEAST            2           2014_2           2
2018  2014      NORTHEAST            3           2014_3           0
2019  2014      NORTHEAST            4           2014_4           1
2020  2014      NORTHEAST            5           2014_5           0

In [ ]:
df = pd.DataFrame()

for i in PoliceDistrict:
    values = ts_data_week[i]['NoOfCrimes'].tolist()
    index = ts_data_week[i]['Year_Week_Number'].tolist()
    temp_df = pd.DataFrame(values, columns = [i], index = index)
    df = pd.concat([df, temp_df], axis = 1)
    

df.plot(figsize=(15,8))
plt.xlabel('Week Number of the year 2019', fontsize=20)
plt.ylabel('Crimes', fontsize=20)
plt.title('True Crime Per Police Districts', fontsize=20)
plt.savefig('../../Graphs/With_Census/Sub_Crime/%s/policeDistrictCrimes.jpg'%crime_type)
plt.show()

In [ ]:
fig = plt.figure()
i = 0

for pd_col in df:
    ax = '52%s'%(i+1)
    axis = fig.add_subplot(int(ax))
    df[pd_col].plot(ax = axis, figsize = (15,20))
    plt.xlabel('Year_Week_Number', fontsize = 20)
    plt.ylabel('Crime', fontsize = 20)
    title = '%s Police District Weekly Crime Trend' % PoliceDistrict[i]
    plt.title(title, fontsize = 20)
    i += 1
    
fig.tight_layout(pad=3.0) 
plt.savefig('../../Graphs/With_Census/Sub_Crime/%s/True_Crime_Baltimre.jpg'%crime_type)

## Time Series Feature Extraction

### Library Dependencies for making forecasting frame and Extracting time series features from it.

In [ ]:
from tsfresh.utilities.dataframe_functions import make_forecasting_frame
from tsfresh.utilities.dataframe_functions import impute
from tsfresh import extract_features

### Takes one police district at a time and creates forecating frame and its output (total cirme) for that district and append it to a list called temp_df.

In [ ]:
df_shift = pd.DataFrame()
temp_df = []
for district in PoliceDistrict:
    temp_shift, temp_y = make_forecasting_frame(ts_data_week[district]['NoOfCrimes'], kind="crimes", max_timeshift=20, rolling_direction=1) 
    temp_df.append([temp_shift, temp_y])

### Create Time sereies features from make forecasting frames using tsfresh

In [ ]:
ts_features = []

for i in temp_df:
    X = extract_features(i[0], column_id="id", column_sort="time", column_value="value", 
                             impute_function=impute, show_warnings=False)
    ts_features.append([X, i[1]])

### Removing constant features

In [ ]:
for i in ts_features:
    print (i[0].shape)
    i[0] = i[0].loc[:, i[0].apply(pd.Series.nunique) != 1] 
    print (i[0].shape)

### Adding a lag of 1 into the extraced time series feature dataframe

In [ ]:
for i in ts_features:
    i[0]["feature_last_value"] = i[1].shift(1)

### Droping the first row becuase of null value created due ot lag

In [ ]:
for i in ts_features:
    i[0] = i[0].iloc[1:, ]
    i[1] = i[1].iloc[1: ]

### Appending Population to time series features

In [ ]:
districts = data['District'].unique()
i = 0
for district in districts:
    population = population_data[population_data['Police District'] == district]['Population'].values[0]
    ts_features[i][0]['Population'] = [population] * ts_features[i][0].shape[0]

## Training and Tesing the models
### Libray dependencies for different models and their evaluation metrics

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import sklearn.utils
import numpy as np
from sklearn.neural_network import MLPRegressor
from sklearn.svm import SVR
from sklearn.ensemble import AdaBoostRegressor

import tqdm

### Expanding Window Forecast - 
An expanding window refers to a model that train on all available historic data and uses that to make a forecast.

It is an expanding window because it grows as more real observations are collected.

#### Traing random forest regressor using expanding window forecast approach and random forest regressor performance

In [ ]:
y_pred = [[np.NaN] * len(ts_features[i][1]) for i in range(len(ts_features))]

isp = 283   # index of where to start the predictions
assert isp > 0

index = 0
district = 1
for i in ts_features:
    print ("Current District Number = %s"%district)
    district += 1
    RFR = RandomForestRegressor()
    for j in tqdm.tqdm(range(isp, len(i[1]))):
        RFR.fit(i[0].iloc[:j], i[1][:j])
        y_pred[index][j] = RFR.predict(i[0].iloc[j, :].values.reshape((1, -1)))[0]
    index += 1

In [ ]:
y = []
prediction = {}
for i in range(len(temp_df)):
    y_true = np.array(temp_df[i][1].tolist())
    y_predicted = np.array(y_pred[i])
    temp = pd.DataFrame([y_true, y_predicted], index = ['True', 'Pred']).T 
    y.append(temp)
    
    dist = PoliceDistrict[i]
    temp_pred = [np.nan] + y_pred[i]
    MSE = mean_squared_error(y_true[284:], temp_pred[284:])
    MAE = mean_absolute_error(y_true[284:], temp_pred[284:])
    prediction[dist] = {'MSE': MSE, 'MAE': MAE}
    print ('Mean Squared Error for district %s = %s'%(dist, MSE))
    print ('Mean Absolute Error for district %s = %s\n\n'%(dist, MAE))

#### Finding average of MSE and MAE

total_MSE = 0
total_MAE = 0
for i in prediction:
    total_MSE += prediction[i]['MSE']
    total_MAE += prediction[i]['MAE']
    
avg_MSE = total_MSE/len(PoliceDistrict)
avg_MAE = total_MAE/len(PoliceDistrict)

print ('Average of Mean Squared Error = %s'%avg_MSE)
print ('Average of Mean Absolute Error = %s'%avg_MAE)

#### Random Forest regressor prediction visualization

In [ ]:
fig = plt.figure()

for i in range(0, 9):
    ax = '52%s'%(i+1)
    axis = fig.add_subplot(int(ax))
    y[i].plot(ax = axis, figsize = (15,20))
    plt.xlabel('Week', fontsize = 20)
    plt.ylabel('Crime', fontsize = 20)
    title = '%s District Predicted Crime Vs True Crime' % PoliceDistrict[i]
    plt.title(title, fontsize = 20)
    
fig.tight_layout(pad=3.0) 
plt.savefig('../Graphs/Sub_Crime/With_Census/Sub_Crime/%s/Predicted_Crime_Vs_True_Crime_RFR.jpg'%crime_type)