## Library Dependencies

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

sns.set()

## Importing Baltimore Crimes By Neighborhood

In [25]:
data = pd.read_csv('../Dataset/BPD_Part_1_Victim_Based_Crime_Data.csv')
data.head()

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,vri_name1,Total Incidents
0,06/06/2020,15:32:00,4E,800 RICHWOOD AVE,COMMON ASSAULT,I,NaN,524,NORTHERN,RICHNOR SPRINGS,-76.604920,39.346381,NaN,ROW/TOWNHOUSE-OCC,NaN,1
1,06/06/2020,09:16:00,5C,6000 AMBERWOOD RD,BURGLARY,I,NaN,443,NORTHEAST,FRANKFORD,-76.543350,39.316302,NaN,APT/CONDO - OCCUPIED,NaN,1
2,06/06/2020,13:23:00,6G,1100 ORLEANS ST,LARCENY,I,NaN,211,EASTERN,PLEASENT VIEW GARDENS,-76.602911,39.294721,NaN,ROW/TOWNHOUSE-OCC,NaN,1
3,06/06/2020,08:35:00,6G,2700 BERYL AVE,LARCENY,I,NaN,333,EASTERN,BIDDLE STREET,-76.579613,39.303053,NaN,OTHER/RESIDENTIAL,Eastern 2,1
4,06/06/2020,08:35:00,6G,2700 BERYL AVE,LARCENY,I,NaN,333,EASTERN,BIDDLE STREET,-76.579613,39.303053,NaN,OTHER/RESIDENTIAL,Eastern 2,1

In [26]:
data.describe()

           Longitude       Latitude  Location 1  Total Incidents
count  302669.000000  302669.000000         0.0         304384.0
mean      -76.617517      39.306745         NaN              1.0
std         0.043728       0.029639         NaN              0.0
min       -81.529189      37.577262         NaN              1.0
25%       -76.649202      39.288209         NaN              1.0
50%       -76.614054      39.302743         NaN              1.0
75%       -76.587083      39.326917         NaN              1.0
max       -76.383228      39.661332         NaN              1.0

## Data Cleaning

In [27]:
columns_in_use = ['CrimeDate', 'Neighborhood']
print (columns_in_use)

['CrimeDate', 'Neighborhood']

In [28]:
null_count = 0

for i in columns_in_use:
    rows_with_null_values = data[data[i].isnull()].index
    print ('Number of Rows with null values in Column %s = %s'%(i, len(rows_with_null_values)))
    data = data.drop(rows_with_null_values, axis = 0)
    null_count += len(rows_with_null_values)

print ('Number of rows droped = ', null_count)
print ('Number of rows after droping null values = ', data.shape[0])
print ('Data Frame Shape: \n\t Number of Rows = %s \n\t Number of Columns = %s '%(data.shape[0], data.shape[1]))

Number of Rows with null values in Column CrimeDate = 0
Number of Rows with null values in Column Neighborhood = 10697
Number of rows droped =  10697
Number of rows after droping null values =  293687
Data Frame Shape:
	 Number of Rows = 293687
	 Number of Columns = 16

### Saving the Clean Data Set

In [33]:
if not os.path.exists('../Clean Dataset'):
    os.mkdir('../Clean Dataset')

data.to_csv('../Clean Dataset/BPD_Part_1_Victim_Based_Crime_Data.csv', index = False)

## Spliting dataset to Sub Crimes and storing the data in CSV files

In [30]:
crime_types = list(set(data['Description']))
print (crime_types)
crime_dict = {'Homicide': ['HOMICIDE'], 
              'Robbery': ['BURGLARY',
                          'ROBBERY - CARJACKING', 
                          'ROBBERY - STREET', 
                          'AUTO THEFT',
                          'ROBBERY - RESIDENCE',
                          'ROBBERY - COMMERCIAL',
                          'LARCENY FROM AUTO',
                          'LARCENY'],
             'Rape': ['RAPE'],
             'Shooting': ['SHOOTING'],
             'Assault': ['COMMON ASSAULT', 
                         'AGG. ASSAULT']}

['ROBBERY - RESIDENCE', 'SHOOTING', 'ROBBERY - STREET', 'LARCENY', 'ARSON', 'COMMON ASSAULT', 'HOMICIDE', 'AUTO THEFT', 'LARCENY FROM AUTO', 'AGG. ASSAULT', 'RAPE', 'BURGLARY', 'ROBBERY - COMMERCIAL', 'ROBBERY - CARJACKING']

In [31]:
if not os.path.exists('../Clean Dataset/Sub Crimes By Neighborhood'):
    os.mkdir('../Clean Dataset/Sub Crimes By Neighborhood')
    

for crime_type in crime_dict:
    sub_crime_category = pd.DataFrame()
    for sub_crimes in crime_dict[crime_type]:
        sub_crime_category = pd.concat([sub_crime_category,data[data["Description"] == sub_crimes]], axis = 0)
    ## Storing the sub crime datatype into CSV files
    sub_crime_category.to_csv('../Clean Dataset/Sub Crimes By Neighborhood/%s_By_Neighborhood.csv'%crime_type, index = False)